header {
    z-index: 501;
    position: fixed;
    top:0px;
background-color: #fff;
width:100%;
    height:100px;
border-bottom: 1px solid #000; /* ヘッダーの境界線（下部）を指定する */
	box-shadow:0 7px 10px 2px #aaaaaa;
margin:0;
    padding: 0;
	img.logo1{
		position:; top:20px; left:10px; z-index: 9000; width: 10%;
height: auto;
	}
}


h1 {
    color: #045FB4;
    font-size: 20px;
	padding:13px 5px 5px 35px;		/*見出し内容の位置調整*/
   
}
h1 a {text-decoration:none;} 	

/*ギャラリー全体のコンテナー*/
#stage {
	position: relative;
	background:#ccc;
	max-width: 600px;
	margin: 0 auto;
	overflow:hidden;
}
/*全サムネイルのコンテナー animation設定*/
#thumbs {
	width: 200%;
	left: -45%;
	animation:recipro ease 12s infinite;
}
/*サムネイルのマウスオーバーでポインターを手のひら*/
#thumbs:hover {
	animation-play-state:paused;
}
#thumbs img {
	width:9.6%;
}
/*表示写真の初期配置（全部透明に）とtransition(fade)設定*/
.photo {
	position: absolute;
	top:50px;
  left: 10px;

}
.photo img {
	width:100%;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
/* クリックされたサムネイルの対応写真を表示 */
.photo:target > img {
	opacity:1; 
}

/* サムネイル群の左右往復animation */
@keyframes recipro {
	0% { margin-left:0%; }
	50% { margin-left:-98%; }
	100% { margin-left:0%; }
}

footer{
    font-size: 80%;
    width: 650px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}
footer address{
    color: #fff;
    letter-spacing: 5px;
}

.item {
    position: absolute;
    height: 55px;
background-color:rgba(255,255,255,0.5);
width:120px;
}

.box5 {
    position: left:200px; 
    padding: 0.06em 0.1em;
    margin: 2em 0.6em;
    border: double 5px #045FB4;
}
.box5 p {
    margin: 0; 
    padding: 0;
}
.bottomline{
    width: 550px;
    position: relative;
    margin: 0 0 1.5em;
    padding: 0.2em;
    font-size: 1.25em; /* フォントサイズ */
    font-weight: bold; /* フォント太さ */
    color: RoyalBlue; /* テキスト色 */
    border-bottom: 2px solid RoyalBlue; /* 下線：太さ 線の種類 色 */
}
.bottomline:before,
.bottomline:after{
    content: '';
    border-right: 18px solid #fff;
    border-top: 15px solid RoyalBlue; /* 吹き出し部分の線の色 */
    bottom: -15px;
    position: absolute;
    left: 26px;
}
.bottomline:after{
    border-top-color: #fff;
    border-right-color: transparent;
    bottom: -11px;
    left: 28px;
}

form {
    position:center;
    /* フォームをページの中央に置く */
    margin: 0 auto;
    width: 260px;
    /* フォームの範囲がわかるようにする */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}
footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}
footer address{
    color: #fff;
    letter-spacing: 5px;
}


.image-round1{
  border-radius: 50%;
    height: 100px;
    width: 100px;
        
}


.frame {
display: inline-block;
position: relative;
}
.frame:after {
position: absolute;
display: block;
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
transform: rotate(3deg); /* 回転させる */
background: #fff;
z-index: -1;
}

.a2 {
display: inline-block;
transform: rotate(5deg);
}

h3 {
border-bottom: solid 3px #cce4ff;
position: relative;
    width: 400px;
}
h3:after {
    width: 400px;
position: absolute;
content: " ";
display: block;
border-bottom: solid 3px #5472cd;
bottom: -3px;
width: 20%;
}
div.frame2 {
display: inline-block;
width: 400px;
height: 300px;
border: 10px solid #fff;
box-shadow: 0 0 4px #999;
transform: rotate(10deg); /* 全体を回転 */
overflow: hidden; /* 不要部分は消す */
}
div.frame3 {
display: inline-block;
width: 400px;
height: 300px;
border: 10px solid #fff;
box-shadow: 0 0 4px #999;
transform: rotate(-10deg); /* 全体を回転 */
overflow: hidden; /* 不要部分は消す */
}


div.position{
     position: relative;
    top: -50px;
	left: 300px;
}

div.position2{
     position: relative;
    top: 500px;
	left: 300px;
}
div.position3{
    position: relative;
    top: -50px;
    left: 300px;
}


.zettai {
  position: absolute;
  top: 70px;
  left: 100px;
}

@charset "UTF-8";
/*
style.css
*/

body {
  position: relative;
  font-size: 62.5%;
  line-height: 1.8;
  margin: 0;
  background: url(../img/bg.jpg);
}




/*
独自スタイル
*/

#contentContainer {
  padding: 60px 0;
  margin: 0 auto;
}
#contentContainer ul,
#contentContainer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#galleryContainer {
  position: relative;
}

#galleryContainer .column {
  width: 100%;
  min-height: 300px;
  margin-bottom: 160px;
}
#galleryContainer .photo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#galleryContainer img {
  display: block;
  width: 100%;
  height: auto;
}
#galleryContainer img[src="img/loader.gif"]{
  width: 32px;
  margin: 30% auto;
}

/* 左からスライドして表示される領域 */
#subContainer {
  position: fixed;
  left: -260px;
  top: 0;
  z-index: 500;
  width: 260px;
  height: 100%;
  background-color: rgba( 255, 255, 255, 0.9);
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  behavior: url(PIE.htc);
}
#subContainer.appeared {
  left: 0;
}

#mainNavigation {
  /* ナビゲーション */
  position: relative;
  top: 60px;
}
#mainNavigation li {
  padding-top: 1px;
  margin-bottom: 1px;
}
#mainNavigation a {
  display: block;
  padding: 1.5em;
  overflow: hidden;
  color: #888;
  border-left: 0.5em solid #ddd;
}
#mainNavigation .separate a {
  padding-top: 2em;
  padding-bottom: 2em;
}
#mainNavigation i {
  display: inline-block;
  width: 18%;
  vertical-align: middle;
  font-size: 2.5em;
  line-height: 1;
  color: inherit;
}
#mainNavigation span {
  display: inline-block;
  font-size: 1.6em;
  line-height: 1;
  vertical-align: middle;
  width: 70%;
  color: inherit;
}
#mainNavigation a,
#mainNavigation a:hover i,
#mainNavigation a:hover span {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#mainNavigation .nav_bookmark a {
  padding-left: 1.8em;
}


#mainNavigation .mainNavigation_trigger {
  /* ナビゲーションを表示・非表示させるボタン */
     border-right: 1px solid #000;
      
  position: absolute;
  bottom: 0;
  right: -4em;
  width: 4em;
  border-radius: 0 8px 8px 0;
  background-color: rgba( 255, 255, 255, 0.9);
  behavior: url(PIE.htc);
}
#mainNavigation .mainNavigation_trigger a {
  border: none;
  padding: 1em 1em 0.75em 0.75em;
  cursor: pointer;
}
#mainNavigation .mainNavigation_trigger i {
  width: auto;
}

/* CSSで影を付ける */

.shadow {
  position: relative;
  background:#fff;
  width: 100%;
  padding:10px;
  margin: 0 auto 40px;
}
.shadow:before{
  z-index: -1;
  position: absolute;
  content:'';
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 100%;
  background: #8d8c8c;
  -webkit-box-shadow: 0 15px 10px #8d8c8c;
  -moz-box-shadow: 0 15px 10px #8d8c8c;
  box-shadow: 0 15px 10px #8d8c8c;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  behavior: url(PIE.htc);
}
.shadow:after{
  z-index: -1;
  position: absolute;
  content:'';
  bottom: 10px;
  right: 10px;
  width: 50%;
  top: 80%;
  max-width: 100%;
  background: #8d8c8c;
  -webkit-box-shadow: 0 15px 10px #8d8c8c;
  -moz-box-shadow: 0 15px 10px #8d8c8c;
  box-shadow: 0 15px 10px #8d8c8c;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform:rotate(5deg);
  behavior: url(PIE.htc);
}



/*
responsive styles
*/

@media only screen and (min-width: 321px) and (max-width:768px) {

  .inner {
    max-width: 75%;
    min-width: 75%;
    width: 75%;
  }
  #galleryContainer .column {
    width: 100%;
    min-height: 120px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 599px){

  #subContainer {
    left: -80%;
    width: 80%;
  }
  #mainNavigation li {
    float: left;
    width: 50%;
  }
  #mainNavigation .mainNavigation_trigger {
    top: 10em;
    bottom: auto;
  }
}

@media only screen and (max-width:320px) {

  .inner {
    max-width: 94%;
    min-width: 94%;
    width: 94%;
  }
  #copyright {
    text-align: center;
  }
  #galleryContainer .column {
    width: 100%;
    min-height: 120px;
    margin-bottom: 80px;
  }
}

.drawer-menu {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	padding: 120px 0;
	background: #222;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: perspective(500px) rotateY(-90deg);
	transform: perspective(500px) rotateY(-90deg);
	opacity: 0;
}

.drawer-menu li {
	text-align: center;
}

.drawer-menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
	-webkit-transition: all .8s;
	transition: all .8s;
}

.drawer-menu li a:hover {
	color: #1a1e24;
	background: #fff;
}

/* ------------------------------------------------ checkbox */
.check {
	display: none;
}

/* ------------------------------------------------ menu button */
.menu-btn {
	position: fixed;
	display: block;
	top: 40px;
	right: 40px;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	z-index: 3;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 1px;
	background: #000;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
}

.bar.middle {
	top: 15px;
	opacity: 1;
}

.bar.bottom {
	top: 30px;
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
}

.menu-btn__text {
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: auto;
	color: #000;
	-webkit-transition: all .5s;
	transition: all .5s;
	display: block;
	visibility: visible;
	opacity: 1;
}

.menu-btn:hover .bar {
	background: #999;
}

.menu-btn:hover .menu-btn__text {
	color: #999;
}

.close-menu {
	position: fixed;
	top: 0;
	right: 300px;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0);
	cursor: url(../images/cross.svg),auto;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	visibility: hidden;
	opacity: 0;
}

/* ------------------------------------------------ checked */
.check:checked ~ .drawer-menu {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 1;
	z-index: 2;
}

.check:checked ~ .contents {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
	visibility: hidden;
	opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
	width: 56px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
	opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
	width: 56px;
	top: 40px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	background: rgba(0,0,0,.5);
	visibility: visible;
	opacity: 1;
	z-index: 3;
}
</style>


.global-header__navi {
  position: relative;
}

.global-header__navi ul {
  position: absolute;
  right: 0;
}

.global-header__navi li {
  float: left;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.global-header__navi .svg-icon {
  width: 30px;
  max-height: 20px;
  fill: #1a1e24;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.global-header__navi .svg-icon.facebook:hover {
  fill: rgb(59, 89, 152);
}

.global-header__navi .svg-icon.twitter:hover {
  fill: rgb(85, 172, 238);
}

.global-header__navi .svg-icon.github:hover {
  fill: rgb(26, 20, 20);
}

.global-header__navi .svg-icon.feedly:hover {
  fill: rgb(108, 198, 85);
}

/* --------------------------------------------------- menu */
.global-header__menu {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  z-index: 2;
}

.global-header__menu ul li {
  float: left;
}

.global-header__menu ul li a {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  background: rgba(26, 30, 36, 1);
}

.global-header__menu ul li a:hover,
.global-header__menu ul li a.cur {
  background: rgba(242,105,100,1);
}

.global-header__menu.shadow {
  top: 20px;
}

.global-header__menu.shadow ul li a {
  color: rgba(26, 30, 36, 1);
  background: transparent;
}

.global-header__menu.shadow ul li a:hover,
.global-header__menu.shadow ul li a.cur {
  color: #fff;
  background: rgba(26, 30, 36, 1);
}

.global-header__menu.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: rgba(0,0,0,.5);
}

.global-header__menu.active ul {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin-top: 80px;
}

.global-header__menu.active ul li {
  float: none;
  width: 100%;
  margin: 0 auto 10px;
  text-align: center;
}

.global-header__menu.active ul li a {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  background: #1a1e24;
}

.global-header__menu.active ul li a:hover {
  background: rgba(242,105,100,1);
}

/* --------------------------------------------------- media query */
@media screen and (max-width: 900px) {
  
  .global-header__menu {
    width: 40px;
  }
  .global-header__menu ul {
    display: none
  }

}

.full-wrapper {
  background: #f5f5f5;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.side-open .full-wrapper {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: perspective(500px) rotateY(4deg);
  transform: perspective(500px) rotateY(4deg);
}

.side-open.blogSingle .full-wrapper {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  z-index: 1;
}

.side-open .overlay {
  cursor: url(../images/blog/cross.svg),auto;
  visibility: visible;
  background: rgba(0,0,0,.6);
  opacity: 1;
}

.overlay:after {
  content: 'CLOSE';
  position: fixed;
  top: 35%;
  right: 0px;
  display: block;
  width: 100%;
  height: 100px;
  visibility: hidden;
  font-size: 100px;
  font-family: Futura, "Century Gothic", "helvetica neue", arial, sans-serif !important;
  text-align: center;
  color: rgba(255,255,255,0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.side-open .overlay:after {
  visibility: visible;
  color: rgba(255,255,255,1);
}

/* android browser */
@media screen and (max-width: 500px) {
  .overlay:after {
    display: none;
  }
}

position{
    top: 50px;
    left: 100px;
    
}
