#menu {
  padding:0;
    margin: 0;
  list-style-type: none;
}
#menu li {
    position: relative;z-index: auto
        height:100px;
  width:200px;
  float:left;
  padding:0;
  text-align:center;
}
#menu li a {
    text-shadow:0 -1px 0px #333,0 1px 0px #555;

    border-left:1px solid #444;
  box-shadow: 1px 0px 0px rgba(225,225,225,0.3) inset,
             -1px 0px 0px rgba(225,225,225,0.3) inset,
              0px 1px 1px rgba(0,0,0,0.1) inset,
              0px -1px 1px rgba(0,0,0,0.3) inset,
              0px 1px 3px #666;
    
    width: auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 20px;
  text-decoration:none;
     
  display:block;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#58ACFA), to(#2E64FE));
  background: -moz-linear-gradient(top,#58ACFA, #2E64FE);
      
}
	#menu li:first-child a{
         position: relative;z-index: 10;
  border-radius: 5px 0 0 5px;
        
        
        
         border-left:0;
  box-shadow:-1px 0px 0px rgba(225,225,225,0.3) inset,
              0px 1px 1px rgba(0,0,0,0.1) inset,
              0px -1px 1px rgba(0,0,0,0.3) inset,
              0px 1px 3px #2E64FE;

}
#menu li:last-child a{
  border-radius:0 5px 5px 0;
    
     position: relative;z-index: 10;
    box-shadow: 1px 0px 0px rgba(225,225,225,0.3) inset,
              0px 1px 1px rgba(0,0,0,0.1) inset,
              0px -1px 1px rgba(0,0,0,0.3) inset,
              0px 1px 3px #2E64FE;

}
#menu li a:hover {
     position: relative;z-index: 10;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6666FF), to(#0066CC));
  background: -moz-linear-gradient(top,#6666FF , #0066CC);
    
    box-shadow: 1px 0px 0px rgba(225,225,225,0) inset,
             -1px 0px 0px rgba(225,225,225,0) inset,
              0px 1px 1px rgba(0,0,0,0.1) inset,
              0px -1px 1px rgba(0,0,0,0.3) inset,
              0px 1px 3px #2E64FE;

        
}


#menu li ul{
  list-style: none;
  position: absolute;z-index: 10;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
}
#menu li:last-child ul{
  left: -100%;
  width: 100%
}
#menu li ul li{
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #000;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{

  padding: 13px 15px;

  background: #CEF6F5;

  text-align: left;
     text-shadow:none;
color: #000;
  font-size: 12px;

  font-weight: normal;
     
}
#menu li:hover ul li{
    background-color: cornflowerblue;
  overflow: visible;
  height: 38px;
  border-top: 1px solid #00BFFF;
  border-bottom: 1px solid #00BFFF;
    
}
#menu li:hover ul li:first-child{
  border-top: 0;
 
   
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
    
 
}
#menu li:hover ul li:last-child a{
  border-radius: 0 0 3px 3px;
    
}